include *.yaml
recursive-include snakePipes/shared *
recursive-exclude snakePipes/shared/organisms/ *.yaml
recursive-include snakePipes/shared/rscripts *
recursive-include snakePipes/shared/rules *
recursive-include snakePipes/shared/tools *
recursive-include snakePipes/workflows *
